<%- include('partials/header'); -%>

<header>
  <div class="space">
    <img src="/sun.png" alt="" />
  </div>
  <div class="headings">
    <h2>My lil space</h2>
    <h3>
      The universe is vast and mysterious, and we are only just beginning to
      explore it. Every time we look up at the stars, we are reminded of our own
      smallness and the vastness of the cosmos.
    </h3>
    <a href="/space" class="btn">Discover space</a>
  </div>
</header>

<%- include('partials/footer'); -%>
