<%- include('partials/header'); -%>

<ul class="planets">
  <li class="planet">
    <img src="/mercury.png" alt="mercury image" />
    <h4>Mercury</h4>
    <p>Mercury is the smallest planet in our solar system.</p>
  </li>
  <li class="planet">
    <img src="/venus.png" alt="venus image" />
    <h4>Venus</h4>
    <p>Venus is the second planet from the Sun.</p>
  </li>
  <li class="planet">
    <img src="/earth.png" alt="earth image" />
    <h4>Earth</h4>
    <p>
      Earth is the third planet from the Sun and the only astronomical object
      known to harbor life.
    </p>
  </li>
  <li class="planet">
    <img src="/mars.png" alt="mars image" />
    <h4>Mars</h4>
    <p>
      Mars is the fourth planet from the Sun and the second-smallest planet in
      the Solar System.
    </p>
  </li>
  <li class="planet">
    <img src="/jupiter.png" alt="jupiter image" />
    <h4>Jupiter</h4>
    <p>
      Jupiter is the fifth planet from the Sun and the largest in the Solar
      System.
    </p>
  </li>
  <li class="planet">
    <img src="/saturn.png" alt="saturn image" />
    <h4>Saturn</h4>
    <p>
      Saturn is the sixth planet from the Sun and the second-largest in the
      Solar System.
    </p>
  </li>
  <li class="planet">
    <img src="/uranus.png" alt="uranus image" />
    <h4>Uranus</h4>
    <p>Uranus is the seventh planet from the Sun.</p>
  </li>
  <li class="planet">
    <img src="/neptune.png" alt="neptune image" />
    <h4>Neptune</h4>
    <p>
      Neptune is the eighth and farthest known planet from the Sun in the Solar
      System.
    </p>
  </li>
</ul>

<%- include('partials/footer'); -%>
